<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome~</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
</head>
<body>
填写IP和端口，返回dubbo节点下所有的consumers和providers信息
<hr/>
<div>
    <form action="/zk/zkjson" method="get">
        IP--><input type="text" name="ip" placeholder="10.100.210.127" required="required"
                    pattern="^((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})(\.((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})){3}$">
        port--><input type="text" name="port" placeholder="2181" required="required"
                      pattern="^[1-9]\d*$"><br/>
        <input type="submit" value="查找">
    </form>
</div>
<hr/>
<p th:if="${result==0}" style="color: red">连接失败!</span></p>
<p th:if="${result==1}" style="color: green">
    连接成功~Dubbo下的节点总数：<span th:text="${total}">
</p>
<hr/>
<div th:if="${result==1}">
    <form action="/zk/downloadExcel" method="post">
        downloadExcel-->
        <input type="submit" value="导出Excel">
    </form>
    downloadTxt-->
    <input id="downloadTxt" type="button" value="导出Zookeeper原数据Txt">
</div>

<script type="text/javascript">
    $(function(){
        $("#downloadTxt").click(function () {
            $.ajax({
                //请求方式
                type : "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url : "/zk/downloadTxt",
                //数据，json字符串
                data : "",
                //请求成功
                success : function(result) {
                    alert(result)
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    alert("返回信息失败！！！")
                }
            });
        })
    });
</script>
</body>
</html>